.App {
  text-align: center;
}

.progress-bar {
  position: relative;
  height: 20px;
  width: 350px;
  border-radius: 7px;
  border: 1px solid #EBF9EF;
}

.filler {
  background-color: #82D99C;
  height: 100%;
  border-radius: inherit;
  /* transition: width .2s ease-in; */
}

